* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th {
    text-align: center;
}

th.wide {
    width: 200px;
}

td.left {
    text-align: left;
}

td.center {
    text-align: center;
}

tr.animate {
    font-weight: bold;
    -webkit-animation: animate 2s;
    animation: animate 2s;
}

@-webkit-keyframes animate {
    50%   { background-color: yellow }
    100% { background-color: inherit }
}
@keyframes animate {
    50%   { background-color: yellow }
    100% { background-color: inherit }
}
